<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vvs.platform.dao.user.LoginDAO">

    <!-- 로그인: 아이디로 회원 조회 -->
    <select id="login" parameterType="String" resultType="com.vvs.platform.dto.user.LoginDTO">
        SELECT USER_SEQ AS userSeq,
               USER_ID AS userid,
               NAME AS name,
               PASSWORD AS password,
               EMAIL AS email,
               TO_CHAR(BIRTH_DATE, 'YYYY-MM-DD') AS birthDate,
               ROLE AS role,
               ACCOUNT_STATUS   AS accountStatus,
               NOTIFICATION_OPT_IN AS notificationOptIn,
               TO_CHAR(SIGNUP_DATE, 'YYYY-MM-DD') AS signupDate
        FROM USERS
        WHERE USER_ID = #{userid}
    </select>
    <!-- 로그인시 관심 키워드 가져오기 -->
   <select id="getUserKeyword" parameterType="String" resultType="String">
      SELECT keyword_content FROM user_keywords uk
      join keywords k on uk.keyword_id = k.seq_keywords
      WHERE user_id = #{userid}
   </select>

</mapper>
