<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vvs.platform.mapper.SignUpMapper">

    <!-- 회원 등록 -->
    <insert id="insertUser" parameterType="com.vvs.platform.dto.user.UserSignUpDTO">
        INSERT INTO users (
            USER_SEQ, USER_ID, NAME, PASSWORD, EMAIL, BIRTH_DATE, ROLE, ACCOUNT_STATUS, NOTIFICATION_OPT_IN, SIGNUP_DATE
        ) VALUES (
            seq_users.NEXTVAL, #{userId}, #{name}, #{password}, #{email},
            TO_DATE(#{birthDate}, 'YYYY-MM-DD'),
            'USER', 'ACTIVE', 'Y', SYSDATE
        )
    </insert>

    <!-- user_keywords 저장 -->
    <insert id="insertUserKeyword" parameterType="map">
	    INSERT INTO user_keywords (USER_ID, KEYWORD_ID)
	    VALUES (#{userId}, #{keywordId})
	</insert>
    

    <!-- 키워드 전체 조회 -->
    <select id="getAllKeywords" resultType="com.vvs.platform.dto.user.KeywordDTO">
        SELECT SEQ as seq, KEYWORD_CONTENT as keywordContent 
        FROM keywords
    </select>

</mapper>
