<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vvs.platform.dao.admin.AdminBillsDAO">
	<!-- 페이징 처리해서 출력 -->
	<select id="getAllBills" resultType="com.vvs.platform.dto.admin.AdminBillsDTO">
		SELECT *
		FROM (
		    SELECT
		        ROWNUM AS rn,
		        A.*
		    FROM (
		        SELECT
		        	SEQ_BILLS,
		        	BILL_TITLE,
		        	BILL_NUMBER,
		        	RELATED_URL,  
		            COMMITTEE, 
		            DECISION_RESULT,
		            TO_CHAR(DECISION_DATE, 'YYYY-MM-DD') AS DECISION_DATE,
		            PDF_LINK
		        FROM bills
		        ORDER BY seq_bills DESC
		    ) A
		    WHERE ROWNUM &lt;= #{pageDTO.startList} + #{pageDTO.listSize}
		)
		WHERE rn &gt; #{pageDTO.startList}
	</select>
	
	<!-- 총 게시물 수(totalCnt)를 조회하는 쿼리 추가 -->
	<select id="getBillTotalCount" resultType="int">
		select count(*) from bills
	</select>
</mapper>